@font-face {
  font-family: Futura;
  font-weight: 400;
  src: url("/src/styles/fonts/futura/Futura_Extra_Black.ttf") format("opentype");
}

// @font-face {
//   font-family: Roboto;
//   font-weight: 500;
//   src: url("/src/styles/fonts/roboto/Roboto-Medium.ttf") format("opentype");
// }

// @font-face {
//   font-family: Roboto;
//   font-weight: 700;
//   src: url("/src/styles/fonts/roboto/Roboto-Bold.ttf") format("opentype");
// }
