@use "../../styles/" as *;

.main_area_component {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.name {
  color: $secondary;
  font-size: 48px;
  text-shadow: 0 0 32px $secondary;
}

.current_value {
  color: $secondary;
  font-size: 64px;
  text-shadow: 0 0 32px $secondary;
}

.next_value {
  color: $secondary;
  font-size: 48px;
  text-shadow: 0 0 32px $secondary;
}
