@use "../../styles/" as *;

.main_area_component {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.s1 {
  color: $primary;
  font-size: 256px;
  text-shadow: 0 0 32px $primary;
}

.s2 {
  color: $secondary;
  font-size: 64px;
  text-shadow: 0 0 32px $secondary;
}

.s3 {
  color: $secondary;
  font-size: 48px;
  text-shadow: 0 0 32px $secondary;
}
