@use "../../styles/" as *;

.aside_label_component {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.label {
  color: $primary;
  font-size: 36px;
  text-shadow: 0 0 32px $primary;
}

.value {
  color: $secondary;
  font-size: 36px;
  text-shadow: 0 0 32px $secondary;
}
