@use "../../styles/" as *;

.aside_label_component {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.label {
  color: $primary;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.value {
  font-size: 24px;
  font-weight: bold;
  color: $secondary;
}
