@use "../../styles/" as *;

.player_level_area_component {
  display: flex;
  position: fixed;
  top: 20px;
  left: 20px;
  flex-direction: column;
  text-align: end;
}

.top_label {
  color: $primary;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.bottom_label {
  color: $primary;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.value {
  font-size: 24px;
  font-weight: bold;
  color: $secondary;
}
