@use "../../styles/" as *;

.player_level_area_component {
  display: flex;
  flex-direction: column;
  left: 20px;
  position: fixed;
  text-align: end;
  top: 20px;
}

.top_label {
  color: $primary;
  font-size: 80px;
  text-shadow: 0 0 32px $primary;
}

.bottom_label {
  color: $primary;
  font-size: 32px;
  text-shadow: 0 0 32px $primary;
}

.value {
  color: $secondary;
  font-size: 32px;
  text-shadow: 0 0 32px $secondary;
}
