@use "../../styles" as *;

.aside {
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  position: fixed;
  bottom: 20px;
  display: flex;
  left: 20px;
}
