@use "../../styles/" as *;

.total_prize_area_component {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
  flex-direction: column;
  gap: 24px;
}

.total_container {
  display: flex;
  flex-direction: column;
}

.total_label {
  font-size: 48px;
  text-shadow: 0 0 32px $secondary;
  color: $secondary;
}

.total_value {
  font-size: 64px;
  text-shadow: 0 0 32px $primary;
  color: $primary;
}

.footer_container {
  display: flex;
  gap: 24px;
}

.footer_label_value {
  display: flex;
  gap: 8px;
}

.footer_label {
  text-shadow: 0 0 32px $primary;
  font-size: 32px;
  color: $primary;
}

.footer_value {
  font-size: 32px;
  text-shadow: 0 0 32px $secondary;
  color: $secondary;
}
