@use "../../styles/" as *;

.total_prize_area_component {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
  flex-direction: column;
  gap: 24px;
}

.total_container {
  display: flex;
  flex-direction: column;
}

.total_label {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: $secondary;
}

.total_value {
  font-size: 48px;
  font-weight: bold;
  color: $primary;
}

.footer_container {
  display: flex;
  gap: 24px;
}

.footer_label_value {
  display: flex;
  gap: 8px;
}

.footer_label {
  font-size: 24px;
  font-weight: bold;
  color: $primary;
  text-transform: uppercase;
}

.footer_value {
  font-weight: bold;
  font-size: 24px;
  color: $secondary;
}
