@use "../../styles/" as *;

.total_prize_label_component {
  display: flex;
  gap: 8px;
}

.label {
  color: $primary;
  font-size: 32px;
  text-shadow: 0 0 32px $primary;
}

.value {
  color: $secondary;
  font-size: 32px;
  text-shadow: 0 0 32px $secondary;
}
